{% extends 'base.html' %}
{% load crispy_forms_tags %}
{#{% load ratings %}#}


{% block title %}
    Camp List
{% endblock %}

{% block container %}
    <h2>Campings</h2>
{#    {% ratings camping %}#}
    <ul>
            {% for camping in object_list %}
        <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="{{ camping.camping_image.url}}" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{ camping.name}}</h5>
                    <p class="card-text">Localization: <small class="text-muted"> {{ camping.place}}.</small></p>
                    <p class="card-text">Contact: <small class="text-muted">{{ camping.owner}}</small></p>
                  </div>
                </div>
              </div>
        </div>
            {% endfor %}
    </ul>
{% endblock %}